@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital,wght@0,400;1,700&family=Mogra&family=Montserrat:wght@400;700&display=swap");
body {
    margin: 0;
    font-family: "Dancing Script", cursive;
}
#root {
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.buttons {
    display: flex;
    gap: 20px;
}
